@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.button {
    display: inline-block;
    background-color: #c78cf5;

    color: #fff;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}

.button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
    transform: translate(0px, -10px) scale(1.2);
}

.container1 {
    height: 100vh;
    background-size: cover;
    width: 100vw;



}

.a {
    border-radius: 20px;
    background-color: white;
    padding: 30px;


}

.b {
    font-family: "Courier New";
    font-size: 30px;
    font-weight: bold;
}

.cont {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROgwppG-GI9xiRMTKzF_JpAirNY8JXklpBcQ&usqp=CAU');
    background-size: cover;
    width: 100vw;
    padding: 20px;
    background: rgb(5, 181, 251);
    background: linear-gradient(90deg, rgba(5, 181, 251, 1) 0%, rgba(47, 173, 232, 0.713344712885154) 100%);
    height: 120vh;

}

.image {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 5px;
}

.gotitbutton {
    background-color: white;
    border-top-left-radius: 40px;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;


}

.input1 {
    border-radius: 15px;
    border-style: none;
}

.input2 {
    border-radius: 15px;
    border-style: none;
}

.para {
    background-color: black;
    color: white;
    border-radius: 5px;
}